/**
 * iCure Data Stack API Documentation
 *
 * The iCure Data Stack Application API is the native interface to iCure.
 *
 * The version of the OpenAPI document: v2
 *
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 */
package io.icure.kraken.client.apis

/* ktlint-disable no-wildcard-imports */
import io.icure.asyncjacksonhttpclient.net.web.WebClient
import io.icure.asyncjacksonhttpclient.netty.NettyWebClient
import io.icure.kraken.client.infrastructure.*
import io.icure.kraken.client.infrastructure.ApiClient
import io.icure.kraken.client.infrastructure.ClientException
import io.icure.kraken.client.infrastructure.MultiValueMap
import io.icure.kraken.client.infrastructure.RequestConfig
import io.icure.kraken.client.infrastructure.RequestMethod
import io.icure.kraken.client.infrastructure.ServerException
import io.icure.kraken.client.models.ApplicationSettingsDto
import kotlinx.coroutines.ExperimentalCoroutinesApi
import java.util.*
import javax.inject.Named
/* ktlint-enable no-wildcard-imports */

@Named
@ExperimentalStdlibApi
@ExperimentalCoroutinesApi
class ApplicationsettingsApi(basePath: kotlin.String = defaultBasePath, webClient: WebClient = NettyWebClient(), authHeader: String? = null) : ApiClient(basePath, webClient, authHeader) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty("io.icure.kraken.client.baseUrl", "https://kraken.icure.dev")
        }
    }

    /**
     * Create new application settings
     *
     * @param applicationSettingsDto
     * @return ApplicationSettingsDto
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun createApplicationSettings(applicationSettingsDto: ApplicationSettingsDto): ApplicationSettingsDto {
        val localVariableConfig = createApplicationSettingsRequestConfig(applicationSettingsDto = applicationSettingsDto)

        return request<ApplicationSettingsDto, ApplicationSettingsDto>(
            localVariableConfig
        )!!
    }

    /**
     * To obtain the request config of the operation createApplicationSettings
     *
     * @param applicationSettingsDto
     * @return RequestConfig
     */
    fun createApplicationSettingsRequestConfig(applicationSettingsDto: ApplicationSettingsDto): RequestConfig<ApplicationSettingsDto> {
        // val localVariableBody = applicationSettingsDto
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf("Content-Type" to "application/json")
        localVariableHeaders["Accept"] = "*/*"
        val localVariableBody = applicationSettingsDto

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/rest/v2/appsettings",
            query = localVariableQuery,
            headers = localVariableHeaders,
            body = localVariableBody
        )
    }

    /**
     * Gets all application settings
     *
     * @return kotlin.collections.List<ApplicationSettingsDto>
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun getApplicationSettings(): kotlin.collections.List<ApplicationSettingsDto> {
        val localVariableConfig = getApplicationSettingsRequestConfig()

        return request<Unit, kotlin.collections.List<ApplicationSettingsDto>>(
            localVariableConfig
        )!!
    }

    /**
     * To obtain the request config of the operation getApplicationSettings
     *
     * @return RequestConfig
     */
    fun getApplicationSettingsRequestConfig(): RequestConfig<Unit> {
        // val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "*/*"
        val localVariableBody = null

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/rest/v2/appsettings",
            query = localVariableQuery,
            headers = localVariableHeaders,
            body = localVariableBody
        )
    }

    /**
     * Update application settings
     *
     * @param applicationSettingsDto
     * @return ApplicationSettingsDto
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun updateApplicationSettings(applicationSettingsDto: ApplicationSettingsDto): ApplicationSettingsDto {
        val localVariableConfig = updateApplicationSettingsRequestConfig(applicationSettingsDto = applicationSettingsDto)

        return request<ApplicationSettingsDto, ApplicationSettingsDto>(
            localVariableConfig
        )!!
    }

    /**
     * To obtain the request config of the operation updateApplicationSettings
     *
     * @param applicationSettingsDto
     * @return RequestConfig
     */
    fun updateApplicationSettingsRequestConfig(applicationSettingsDto: ApplicationSettingsDto): RequestConfig<ApplicationSettingsDto> {
        // val localVariableBody = applicationSettingsDto
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf("Content-Type" to "application/json")
        localVariableHeaders["Accept"] = "*/*"
        val localVariableBody = applicationSettingsDto

        return RequestConfig(
            method = RequestMethod.PUT,
            path = "/rest/v2/appsettings",
            query = localVariableQuery,
            headers = localVariableHeaders,
            body = localVariableBody
        )
    }
}
