/**
 * iCure Data Stack API Documentation
 *
 * The iCure Data Stack Application API is the native interface to iCure.
 *
 * The version of the OpenAPI document: v2
 *
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 */
package io.icure.kraken.client.apis

import io.icure.asyncjacksonhttpclient.net.web.WebClient
import io.icure.asyncjacksonhttpclient.netty.NettyWebClient
import io.icure.kraken.client.infrastructure.*
import io.icure.kraken.client.security.AuthProvider
import io.icure.kraken.client.security.NoAuthProvider
import kotlinx.coroutines.ExperimentalCoroutinesApi
import org.taktik.icure.services.external.rest.v2.dto.security.PermissionDto
import java.net.URLEncoder
import java.util.*
import javax.inject.Named

@Named
@ExperimentalStdlibApi
@ExperimentalCoroutinesApi
class PermissionApi(
    basePath: String = defaultBasePath,
    webClient: WebClient = NettyWebClient(),
    authProvider: AuthProvider = NoAuthProvider()
) : ApiClient(basePath, webClient, authProvider) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty("io.icure.kraken.client.baseUrl", "https://kraken.icure.dev")
        }
    }

    /**
     * Add / Revoke permissions to user
     * Add a list of granted and revoked permissions to user.
     * @param userId
     * @param permissionDto
     * @return kotlin.collections.List<PermissionDto>
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun modifyUserPermissions(
        userId: String,
        permissionDto: PermissionDto
    ): List<PermissionDto> {
        val localVariableConfig = modifyUserPermissionsRequestConfig(userId = userId, permissionDto = permissionDto)

        return request<PermissionDto, List<PermissionDto>>(
            localVariableConfig
        )!!
    }

    /**
     * To obtain the request config of the operation modifyUserPermissions
     *
     * @param userId
     * @param permissionDto
     * @return RequestConfig
     */
    fun modifyUserPermissionsRequestConfig(
        userId: String,
        permissionDto: PermissionDto
    ): RequestConfig<PermissionDto> {
        // val localVariableBody = permissionDto
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf("Content-Type" to "application/json")
        localVariableHeaders["Accept"] = "*/*"
        val localVariableBody = permissionDto

        return RequestConfig(
            method = RequestMethod.PUT,
            path = "/rest/v2/permissions/{userId}".replace(
                "{" + "userId" + "}",
                URLEncoder.encode(userId, Charsets.UTF_8)
            ),
            query = localVariableQuery,
            headers = localVariableHeaders,
            body = localVariableBody
        )
    }

}
