{"openapi":"3.0.1","info":{"title":"iCure Cloud API Documentation","description":"Spring shop sample application","version":"v0.0.1"},"servers":[{"url":"https://kraken.icure.dev","description":"Generated server url"}],"security":[{"basicScheme":[]}],"paths":{"/rest/v1/patient/batch":{"put":{"tags":["patient"],"summary":"Modify patients in bulk","description":"Returns the id and _rev of modified patients","operationId":"bulkUpdatePatients","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PatientDto"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/IdWithRevDto"}}}}}}},"post":{"tags":["patient"],"summary":"Create patients in bulk","description":"Returns the id and _rev of created patients","operationId":"bulkCreatePatients","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PatientDto"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/IdWithRevDto"}}}}}}}},"/rest/v1/patient/bulk":{"put":{"tags":["patient"],"summary":"Modify patients in bulk","description":"Returns the id and _rev of modified patients","operationId":"bulkUpdatePatients_1","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PatientDto"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/IdWithRevDto"}}}}}}},"post":{"tags":["patient"],"summary":"Create patients in bulk","description":"Returns the id and _rev of created patients","operationId":"bulkCreatePatients_1","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PatientDto"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/IdWithRevDto"}}}}}}}},"/rest/v1/user":{"get":{"tags":["user"],"summary":"List users with(out) pagination","description":"Returns a list of users.","operationId":"listUsers","parameters":[{"name":"startKey","in":"query","description":"An user email","required":false,"schema":{"type":"string"}},{"name":"startDocumentId","in":"query","description":"An user document ID","required":false,"schema":{"type":"string"}},{"name":"limit","in":"query","description":"Number of rows","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaginatedListUserDto"}}}}}},"put":{"tags":["user"],"summary":"Modify a user.","description":"No particular return value. It's just a message.","operationId":"modifyUser","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserDto"}}}}}},"post":{"tags":["user"],"summary":"Create a user","description":"Create a user. HealthcareParty ID should be set. Email or Login have to be set. If login hasn't been set, Email will be used for Login instead.","operationId":"createUser","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserDto"}}}}}}},"/rest/v1/user/{userId}/properties":{"put":{"tags":["user"],"summary":"Modify a User property","description":"Modify a User properties based on his/her ID. The return value is the modified user.","operationId":"modifyProperties","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PropertyStubDto"}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserDto"}}}}}}},"/rest/v1/user/inGroup/{groupId}":{"get":{"tags":["user"],"summary":"List users with(out) pagination","description":"Returns a list of users.","operationId":"listUsersInGroup","parameters":[{"name":"groupId","in":"path","required":true,"schema":{"type":"string"}},{"name":"startKey","in":"query","description":"An user login","required":false,"schema":{"type":"string"}},{"name":"startDocumentId","in":"query","description":"An user document ID","required":false,"schema":{"type":"string"}},{"name":"limit","in":"query","description":"Number of rows","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaginatedListUserDto"}}}}}},"put":{"tags":["user"],"summary":"Modify a user.","description":"No particular return value. It's just a message.","operationId":"modifyUserInGroup","parameters":[{"name":"groupId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserDto"}}}}}},"post":{"tags":["user"],"summary":"Create a user","description":"Create a user. HealthcareParty ID should be set. Email has to be set and the Login has to be null. On server-side, Email will be used for Login.","operationId":"createUserInGroup","parameters":[{"name":"groupId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserDto"}}}}}}},"/rest/v1/user/current/hcparty/{healthcarePartyId}":{"put":{"tags":["user"],"summary":"Assign a healthcare party ID to current user","description":"UserDto gets returned.","operationId":"assignHealthcareParty","parameters":[{"name":"healthcarePartyId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserDto"}}}}}}},"/rest/v1/tmp/patient":{"put":{"tags":["tmp"],"summary":"Modify a patient","description":"Returns the modified patient.","operationId":"modifyTmpPatient","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatientDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PatientDto"}}}}}},"post":{"tags":["tmp"],"summary":"Create a patient with the current user","description":"Returns an instance of created patient.","operationId":"createTmpPatient","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatientDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PatientDto"}}}}}}},"/rest/v1/tmp/patient/batch":{"put":{"tags":["tmp"],"summary":"Modify a batch of healthcare elements","description":"Returns the modified healthcare elements.","operationId":"modifyTmpPatients","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PatientDto"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PatientDto"}}}}}}},"post":{"tags":["tmp"],"summary":"Create a patient with the current user","description":"Returns an instance of created patient.","operationId":"createTmpPatients","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PatientDto"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PatientDto"}}}}}}}},"/rest/v1/tmp/message":{"put":{"tags":["tmp"],"summary":"Modify a message","description":"Returns the modified message.","operationId":"modifyTmpMessage","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageDto"}}}}}},"post":{"tags":["tmp"],"summary":"Create a message with the current user","description":"Returns an instance of created message.","operationId":"createTmpMessage","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageDto"}}}}}}},"/rest/v1/tmp/message/batch":{"put":{"tags":["tmp"],"summary":"Modify a batch of healthcare elements","description":"Returns the modified healthcare elements.","operationId":"modifyTmpMessages","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MessageDto"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MessageDto"}}}}}}},"post":{"tags":["tmp"],"summary":"Create a message with the current user","description":"Returns an instance of created message.","operationId":"createTmpMessages","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MessageDto"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MessageDto"}}}}}}}},"/rest/v1/tmp/invoice":{"put":{"tags":["tmp"],"summary":"Modify a invoice","description":"Returns the modified invoice.","operationId":"modifyTmpInvoice","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvoiceDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InvoiceDto"}}}}}},"post":{"tags":["tmp"],"summary":"Create a invoice with the current user","description":"Returns an instance of created invoice.","operationId":"createTmpInvoice","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvoiceDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InvoiceDto"}}}}}}},"/rest/v1/tmp/invoice/batch":{"put":{"tags":["tmp"],"summary":"Modify a batch of healthcare elements","description":"Returns the modified healthcare elements.","operationId":"modifyTmpInvoices","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/InvoiceDto"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/InvoiceDto"}}}}}}},"post":{"tags":["tmp"],"summary":"Create a invoice with the current user","description":"Returns an instance of created invoice.","operationId":"createTmpInvoices","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/InvoiceDto"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/InvoiceDto"}}}}}}}},"/rest/v1/tmp/healthElement":{"put":{"tags":["tmp"],"summary":"Modify a healthElement","description":"Returns the modified healthElement.","operationId":"modifyTmpHealthElement","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HealthElementDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HealthElementDto"}}}}}},"post":{"tags":["tmp"],"summary":"Create a healthElement with the current user","description":"Returns an instance of created healthElement.","operationId":"createTmpHealthElement","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HealthElementDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HealthElementDto"}}}}}}},"/rest/v1/tmp/healthElement/batch":{"put":{"tags":["tmp"],"summary":"Modify a batch of healthcare elements","description":"Returns the modified healthcare elements.","operationId":"modifyTmpHealthElements","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/HealthElementDto"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/HealthElementDto"}}}}}}},"post":{"tags":["tmp"],"summary":"Create a healthElement with the current user","description":"Returns an instance of created healthElement.","operationId":"createTmpHealthElements","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/HealthElementDto"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/HealthElementDto"}}}}}}}},"/rest/v1/tmp/form":{"put":{"tags":["tmp"],"summary":"Modify a form","description":"Returns the modified form.","operationId":"modifyTmpForm","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FormDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FormDto"}}}}}},"post":{"tags":["tmp"],"summary":"Create a form with the current user","description":"Returns an instance of created form.","operationId":"createTmpForm","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FormDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FormDto"}}}}}}},"/rest/v1/tmp/form/batch":{"put":{"tags":["tmp"],"summary":"Modify a batch of healthcare elements","description":"Returns the modified healthcare elements.","operationId":"modifyTmpForms","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/FormDto"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/FormDto"}}}}}}},"post":{"tags":["tmp"],"summary":"Create a form with the current user","description":"Returns an instance of created form.","operationId":"createTmpForms","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/FormDto"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/FormDto"}}}}}}}},"/rest/v1/tmp/entityTemplate":{"put":{"tags":["tmp"],"summary":"Modify a entityTemplate","description":"Returns the modified entityTemplate.","operationId":"modifyTmpEntityTemplate","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EntityTemplateDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EntityTemplateDto"}}}}}},"post":{"tags":["tmp"],"summary":"Create a entityTemplate with the current user","description":"Returns an instance of created entityTemplate.","operationId":"createTmpEntityTemplate","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EntityTemplateDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EntityTemplateDto"}}}}}}},"/rest/v1/tmp/entityTemplate/batch":{"put":{"tags":["tmp"],"summary":"Modify a batch of healthcare elements","description":"Returns the modified healthcare elements.","operationId":"modifyTmpEntityTemplates","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/EntityTemplateDto"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/EntityTemplateDto"}}}}}}},"post":{"tags":["tmp"],"summary":"Create a entityTemplate with the current user","description":"Returns an instance of created entityTemplate.","operationId":"createTmpEntityTemplates","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/EntityTemplateDto"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/EntityTemplateDto"}}}}}}}},"/rest/v1/tmp/document":{"put":{"tags":["tmp"],"summary":"Modify a document","description":"Returns the modified document.","operationId":"modifyTmpDocument","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DocumentDto"}}}}}},"post":{"tags":["tmp"],"summary":"Create a document with the current user","description":"Returns an instance of created document.","operationId":"createTmpDocument","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DocumentDto"}}}}}}},"/rest/v1/tmp/document/batch":{"put":{"tags":["tmp"],"summary":"Modify a batch of healthcare elements","description":"Returns the modified healthcare elements.","operationId":"modifyTmpDocuments","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DocumentDto"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DocumentDto"}}}}}}},"post":{"tags":["tmp"],"summary":"Create a document with the current user","description":"Returns an instance of created document.","operationId":"createTmpDocuments","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DocumentDto"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DocumentDto"}}}}}}}},"/rest/v1/tmp/contact":{"put":{"tags":["tmp"],"summary":"Modify a contact","description":"Returns the modified contact.","operationId":"modifyTmpContact","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContactDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ContactDto"}}}}}},"post":{"tags":["tmp"],"summary":"Create a contact with the current user","description":"Returns an instance of created contact.","operationId":"createTmpContact","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContactDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ContactDto"}}}}}}},"/rest/v1/tmp/contact/batch":{"put":{"tags":["tmp"],"summary":"Modify a batch of healthcare elements","description":"Returns the modified healthcare elements.","operationId":"modifyTmpContacts","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ContactDto"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ContactDto"}}}}}}},"post":{"tags":["tmp"],"summary":"Create a contact with the current user","description":"Returns an instance of created contact.","operationId":"createTmpContacts","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ContactDto"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ContactDto"}}}}}}}},"/rest/v1/tmp/classification":{"put":{"tags":["tmp"],"summary":"Modify a classification","description":"Returns the modified classification.","operationId":"modifyTmpClassification","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClassificationDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ClassificationDto"}}}}}},"post":{"tags":["tmp"],"summary":"Create a classification with the current user","description":"Returns an instance of created classification.","operationId":"createTmpClassification","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClassificationDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ClassificationDto"}}}}}}},"/rest/v1/tmp/classification/batch":{"put":{"tags":["tmp"],"summary":"Modify a batch of healthcare elements","description":"Returns the modified healthcare elements.","operationId":"modifyTmpClassifications","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ClassificationDto"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ClassificationDto"}}}}}}},"post":{"tags":["tmp"],"summary":"Create a classification with the current user","description":"Returns an instance of created classification.","operationId":"createTmpClassifications","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ClassificationDto"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ClassificationDto"}}}}}}}},"/rest/v1/timeTable":{"put":{"tags":["timeTable"],"summary":"Modifies an timeTable","operationId":"modifyTimeTable","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TimeTableDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TimeTableDto"}}}}}},"post":{"tags":["timeTable"],"summary":"Creates a timeTable","operationId":"createTimeTable","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TimeTableDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TimeTableDto"}}}}}}},"/rest/v1/tarification":{"get":{"tags":["tarification"],"summary":"Finding tarifications by tarification, type and version with pagination.","description":"Returns a list of tarifications matched with given input.","operationId":"findPaginatedTarifications","parameters":[{"name":"region","in":"query","required":false,"schema":{"type":"string"}},{"name":"type","in":"query","required":false,"schema":{"type":"string"}},{"name":"tarification","in":"query","required":false,"schema":{"type":"string"}},{"name":"version","in":"query","required":false,"schema":{"type":"string"}},{"name":"startDocumentId","in":"query","description":"A tarification document ID","required":false,"schema":{"type":"string"}},{"name":"limit","in":"query","description":"Number of rows","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaginatedListTarificationDto"}}}}}},"put":{"tags":["tarification"],"summary":"Modify a tarification","description":"Modification of (type, tarification, version) is not allowed.","operationId":"modifyTarification","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TarificationDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TarificationDto"}}}}}},"post":{"tags":["tarification"],"summary":"Create a Tarification","description":"Type, Tarification and Version are required.","operationId":"createTarification","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TarificationDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TarificationDto"}}}}}}},"/rest/v1/receipt":{"put":{"tags":["receipt"],"summary":"Updates a receipt","operationId":"modifyReceipt","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReceiptDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ReceiptDto"}}}}}},"post":{"tags":["receipt"],"summary":"Creates a receipt","operationId":"createReceipt","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReceiptDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ReceiptDto"}}}}}}},"/rest/v1/receipt/{receiptId}/attachment/{blobType}":{"put":{"tags":["receipt"],"summary":"Creates a receipt's attachment","operationId":"setReceiptAttachment","parameters":[{"name":"receiptId","in":"path","required":true,"schema":{"type":"string"}},{"name":"blobType","in":"path","required":true,"schema":{"type":"string"}},{"name":"enckeys","in":"query","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/octet-stream":{"schema":{"type":"array","items":{"type":"string","format":"byte"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ReceiptDto"}}}}}}},"/rest/v1/pubsub/pub/{key}":{"put":{"tags":["pubsub"],"summary":"publish data","description":"Publish value with key","operationId":"pub","parameters":[{"name":"key","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/octet-stream":{"schema":{"type":"array","items":{"type":"string","format":"byte"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"boolean"}}}}}}}},"/rest/v1/pubsub/auth/{bucket}":{"put":{"tags":["pubsub"],"summary":"Offer auth data on secret bucket","description":"Offer auth data on previously agreed on secret bucket, data should be encrypted","operationId":"offerAuth","parameters":[{"name":"bucket","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/octet-stream":{"schema":{"type":"array","items":{"type":"string","format":"byte"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"boolean"}}}}}}}},"/rest/v1/place":{"get":{"tags":["place"],"summary":"Gets all places","operationId":"getPlaces","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PlaceDto"}}}}}}},"put":{"tags":["place"],"summary":"Modifies an place","operationId":"modifyPlace","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PlaceDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PlaceDto"}}}}}},"post":{"tags":["place"],"summary":"Creates a place","operationId":"createPlace","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PlaceDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PlaceDto"}}}}}}},"/rest/v1/patient":{"get":{"tags":["patient"],"summary":"List patients for a specific HcParty","description":"Returns a list of patients along with next start keys and Document ID. If the nextStartKey is Null it means that this is the last page.","operationId":"listPatients","parameters":[{"name":"hcPartyId","in":"query","description":"Healthcare party id","required":false,"schema":{"type":"string"}},{"name":"sortField","in":"query","description":"Optional value for sorting results by a given field ('name', 'ssin', 'dateOfBirth'). Specifying this deactivates filtering","required":false,"schema":{"type":"string"}},{"name":"startKey","in":"query","description":"The start key for pagination: a JSON representation of an array containing all the necessary components to form the Complex Key's startKey","required":false,"schema":{"type":"string"}},{"name":"startDocumentId","in":"query","description":"A patient document ID","required":false,"schema":{"type":"string"}},{"name":"limit","in":"query","description":"Number of rows","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"sortDirection","in":"query","description":"Optional value for providing a sorting direction ('asc', 'desc'). Set to 'asc' by default.","required":false,"schema":{"type":"string","default":"asc"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaginatedListPatientDto"}}}}}},"put":{"tags":["patient"],"summary":"Modify a patient","description":"No particular return value. It's just a message.","operationId":"modifyPatient","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatientDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PatientDto"}}}}}},"post":{"tags":["patient"],"summary":"Create a patient","description":"Name, last name, date of birth, and gender are required. After creation of the patient and obtaining the ID, you need to create an initial delegation.","operationId":"createPatient","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatientDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PatientDto"}}}}}}},"/rest/v1/patient/{patientId}/referral/{referralId}":{"put":{"tags":["patient"],"summary":"Set a patient referral doctor","operationId":"modifyPatientReferral","parameters":[{"name":"patientId","in":"path","required":true,"schema":{"type":"string"}},{"name":"referralId","in":"path","description":"The referal id. Accepts 'none' for referral removal.","required":true,"schema":{"type":"string"}},{"name":"start","in":"query","description":"Optional value for start of referral","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"end","in":"query","description":"Optional value for end of referral","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PatientDto"}}}}}}},"/rest/v1/patient/undelete/{patientIds}":{"put":{"tags":["patient"],"summary":"undelete previously deleted patients","description":"Response is an array containing the ID of undeleted patient..","operationId":"undeletePatient","parameters":[{"name":"patientIds","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DocIdentifier"}}}}}}}},"/rest/v1/patient/mergeInto/{toId}/from/{fromIds}":{"put":{"tags":["patient"],"summary":"Merge a series of patients into another patient","operationId":"mergeInto","parameters":[{"name":"toId","in":"path","required":true,"schema":{"type":"string"}},{"name":"fromIds","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PatientDto"}}}}}}},"/rest/v1/message":{"get":{"tags":["message"],"summary":"Get all messages (paginated) for current HC Party","operationId":"findMessages","parameters":[{"name":"startKey","in":"query","required":false,"schema":{"type":"string"}},{"name":"startDocumentId","in":"query","required":false,"schema":{"type":"string"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaginatedListMessageDto"}}}}}},"put":{"tags":["message"],"summary":"Updates a message","operationId":"modifyMessage","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageDto"}}}}}},"post":{"tags":["message"],"summary":"Creates a message","operationId":"createMessage","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageDto"}}}}}}},"/rest/v1/message/{messageId}/delegate":{"put":{"tags":["message"],"summary":"Adds a delegation to a message","operationId":"newMessageDelegations","parameters":[{"name":"messageId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DelegationDto"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/IcureStubDto"}}}}}}},"/rest/v1/message/status/{status}":{"put":{"tags":["message"],"summary":"Set status bits for given list of messages","operationId":"setMessagesStatusBits","parameters":[{"name":"status","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListOfIdsDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MessageDto"}}}}}}}},"/rest/v1/message/readstatus":{"put":{"tags":["message"],"summary":"Set read status for given list of messages","operationId":"setMessagesReadStatus","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessagesReadStatusUpdate"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MessageDto"}}}}}}}},"/rest/v1/medicallocation":{"get":{"tags":["medicallocation"],"summary":"Gets all medical locations","operationId":"getMedicalLocations","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MedicalLocationDto"}}}}}}},"put":{"tags":["medicallocation"],"summary":"Modifies a medical location","operationId":"modifyMedicalLocation","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MedicalLocationDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MedicalLocationDto"}}}}}},"post":{"tags":["medicallocation"],"summary":"Creates a medical location","operationId":"createMedicalLocation","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MedicalLocationDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MedicalLocationDto"}}}}}}},"/rest/v1/keyword":{"get":{"tags":["keyword"],"summary":"Gets all keywords","operationId":"getKeywords","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/KeywordDto"}}}}}}},"put":{"tags":["keyword"],"summary":"Modify a keyword","description":"Returns the modified keyword.","operationId":"modifyKeyword","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/KeywordDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/KeywordDto"}}}}}},"post":{"tags":["keyword"],"summary":"Create a keyword with the current user","description":"Returns an instance of created keyword.","operationId":"createKeyword","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/KeywordDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/KeywordDto"}}}}}}},"/rest/v1/invoice":{"put":{"tags":["invoice"],"summary":"Modifies an invoice","operationId":"modifyInvoice","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvoiceDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InvoiceDto"}}}}}},"post":{"tags":["invoice"],"summary":"Creates an invoice","operationId":"createInvoice","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvoiceDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InvoiceDto"}}}}}}},"/rest/v1/invoice/{invoiceId}/delegate":{"put":{"tags":["invoice"],"summary":"Adds a delegation to a invoice","operationId":"newInvoiceDelegations","parameters":[{"name":"invoiceId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DelegationDto"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InvoiceDto"}}}}}}},"/rest/v1/invoice/batch":{"put":{"tags":["invoice"],"summary":"Modify a batch of invoices","description":"Returns the modified invoices.","operationId":"modifyInvoices","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/InvoiceDto"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/InvoiceDto"}}}}}}},"post":{"tags":["invoice"],"summary":"Create a batch of invoices","description":"Returns the created invoices.","operationId":"createInvoices","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/InvoiceDto"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/InvoiceDto"}}}}}}}},"/rest/v1/insurance":{"put":{"tags":["insurance"],"summary":"Modifies an insurance","operationId":"modifyInsurance","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InsuranceDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InsuranceDto"}}}}}},"post":{"tags":["insurance"],"summary":"Creates an insurance","operationId":"createInsurance","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InsuranceDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InsuranceDto"}}}}}}},"/rest/v1/helement":{"put":{"tags":["helement"],"summary":"Modify a healthcare element","description":"Returns the modified healthcare element.","operationId":"modifyHealthElement","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HealthElementDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HealthElementDto"}}}}}},"post":{"tags":["helement"],"summary":"Create a healthcare element with the current user","description":"Returns an instance of created healthcare element.","operationId":"createHealthElement","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HealthElementDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HealthElementDto"}}}}}}},"/rest/v1/helement/batch":{"put":{"tags":["helement"],"summary":"Modify a batch of healthcare elements","description":"Returns the modified healthcare elements.","operationId":"modifyHealthElements","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/HealthElementDto"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/HealthElementDto"}}}}}}},"post":{"tags":["helement"],"summary":"Create a batch of healthcare elements","description":"Returns the created healthcare elements.","operationId":"createHealthElements","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/HealthElementDto"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/HealthElementDto"}}}}}}}},"/rest/v1/hcparty":{"get":{"tags":["hcparty"],"summary":"List healthcare parties with(out) pagination","description":"Returns a list of healthcare parties.","operationId":"listHealthcareParties","parameters":[{"name":"startKey","in":"query","description":"A healthcare party Last name","required":false,"schema":{"type":"string"}},{"name":"startDocumentId","in":"query","description":"A healthcare party document ID","required":false,"schema":{"type":"string"}},{"name":"limit","in":"query","description":"Number of rows","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"desc","in":"query","description":"Descending","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaginatedListHealthcarePartyDto"}}}}}},"put":{"tags":["hcparty"],"summary":"Modify a Healthcare Party.","description":"No particular return value. It's just a message.","operationId":"modifyHealthcareParty","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HealthcarePartyDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HealthcarePartyDto"}}}}}},"post":{"tags":["hcparty"],"summary":"Create a healthcare party","description":"One of Name or Last name+First name, Nihii, and Public key are required.","operationId":"createHealthcareParty","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HealthcarePartyDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HealthcarePartyDto"}}}}}}},"/rest/v1/hcparty/inGroup/{groupId}":{"put":{"tags":["hcparty"],"summary":"Modify a Healthcare Party.","description":"No particular return value. It's just a message.","operationId":"modifyHealthcarePartyInGroup","parameters":[{"name":"groupId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HealthcarePartyDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HealthcarePartyDto"}}}}}},"post":{"tags":["hcparty"],"summary":"Create a healthcare party","description":"One of Name or Last name+First name, Nihii, and Public key are required.","operationId":"createHealthcarePartyInGroup","parameters":[{"name":"groupId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HealthcarePartyDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HealthcarePartyDto"}}}}}}},"/rest/v1/group/{id}/properties":{"put":{"tags":["group"],"summary":"Update group properties","description":"Update existing group properties","operationId":"modifyGroupProperties","parameters":[{"name":"id","in":"path","description":"The id of the group","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListOfPropertiesDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GroupDto"}}}}}}},"/rest/v1/group/{id}/password":{"put":{"tags":["group"],"summary":"Set group password","description":"Update password for provided group","operationId":"setGroupPassword","parameters":[{"name":"id","in":"path","description":"The id of the group","required":true,"schema":{"type":"string"}},{"name":"password","in":"header","description":"The new password for the group (can only contain digits, letters, - and _)","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GroupDto"}}}}}}},"/rest/v1/group/{id}/name/{name}":{"put":{"tags":["group"],"summary":"Update group name","description":"Update existing group name","operationId":"modifyGroupName","parameters":[{"name":"id","in":"path","description":"The id of the group","required":true,"schema":{"type":"string"}},{"name":"name","in":"path","description":"The new name for the group","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GroupDto"}}}}}}},"/rest/v1/group/{id}/dd":{"put":{"tags":["group"],"summary":"Init design docs","description":"Init design docs for provided group","operationId":"initDesignDocs","parameters":[{"name":"id","in":"path","description":"The id of the group","required":true,"schema":{"type":"string"}},{"name":"clazz","in":"query","description":"The class of the design doc","required":false,"schema":{"type":"string"}},{"name":"warmup","in":"query","description":"Warmup the design doc","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Unit"}}}}}}},"/rest/v1/frontendmigration":{"get":{"tags":["frontendmigration"],"summary":"Gets a front end migration","operationId":"getFrontEndMigrations","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/FrontEndMigrationDto"}}}}}}},"put":{"tags":["frontendmigration"],"summary":"Modifies a front end migration","operationId":"modifyFrontEndMigration","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FrontEndMigrationDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FrontEndMigrationDto"}}}}}},"post":{"tags":["frontendmigration"],"summary":"Creates a front end migration","operationId":"createFrontEndMigration","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FrontEndMigrationDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FrontEndMigrationDto"}}}}}}},"/rest/v1/form":{"put":{"tags":["form"],"summary":"Modify a form","description":"Returns the modified form.","operationId":"modifyForm","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FormDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FormDto"}}}}}},"post":{"tags":["form"],"summary":"Create a form with the current user","description":"Returns an instance of created form.","operationId":"createForm","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FormDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FormDto"}}}}}}},"/rest/v1/form/template/{formTemplateId}/attachment/multipart":{"put":{"tags":["form"],"summary":"Update a form template's layout","operationId":"setTemplateAttachmentMulti","parameters":[{"name":"formTemplateId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"array","items":{"type":"string","format":"byte"}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/rest/v1/form/template/{formTemplateId}":{"get":{"tags":["form"],"summary":"Gets a form template by guid","operationId":"getFormTemplate","parameters":[{"name":"formTemplateId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FormTemplateDto"}}}}}},"put":{"tags":["form"],"summary":"Modify a form template with the current user","description":"Returns an instance of created form template.","operationId":"updateFormTemplate","parameters":[{"name":"formTemplateId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FormTemplateDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FormTemplateDto"}}}}}},"delete":{"tags":["form"],"summary":"Delete a form template","operationId":"deleteFormTemplate","parameters":[{"name":"formTemplateId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DocIdentifier"}}}}}}},"/rest/v1/form/batch":{"put":{"tags":["form"],"summary":"Modify a batch of forms","description":"Returns the modified forms.","operationId":"modifyForms","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/FormDto"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/FormDto"}}}}}}},"post":{"tags":["form"],"summary":"Create a batch of forms","description":"Returns the created forms.","operationId":"createForms","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/FormDto"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/FormDto"}}}}}}}},"/rest/v1/entitytemplate":{"put":{"tags":["entitytemplate"],"summary":"Modify a entityTemplate","description":"Modification of (type, entityTemplate, version) is not allowed.","operationId":"modifyEntityTemplate","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EntityTemplateDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EntityTemplateDto"}}}}}},"post":{"tags":["entitytemplate"],"summary":"Create a EntityTemplate","description":"Type, EntityTemplate and Version are required.","operationId":"createEntityTemplate","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EntityTemplateDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EntityTemplateDto"}}}}}}},"/rest/v1/entitytemplate/batch":{"put":{"tags":["entitytemplate"],"summary":"Modify a batch of entityTemplates","description":"Returns the modified entityTemplates.","operationId":"modifyEntityTemplates","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/EntityTemplateDto"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/EntityTemplateDto"}}}}}}},"post":{"tags":["entitytemplate"],"summary":"Create a batch of entityTemplates","description":"Returns the modified entityTemplates.","operationId":"createEntityTemplates","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/EntityTemplateDto"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/EntityTemplateDto"}}}}}}}},"/rest/v1/document":{"put":{"tags":["document"],"summary":"Updates a document","operationId":"modifyDocument","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DocumentDto"}}}}}},"post":{"tags":["document"],"summary":"Creates a document","operationId":"createDocument","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DocumentDto"}}}}}}},"/rest/v1/document/{documentId}/attachment/multipart":{"put":{"tags":["document"],"summary":"Creates a document's attachment","operationId":"setDocumentAttachmentMulti","parameters":[{"name":"documentId","in":"path","required":true,"schema":{"type":"string"}},{"name":"enckeys","in":"query","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"array","items":{"type":"string","format":"byte"}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DocumentDto"}}}}}}},"/rest/v1/document/{documentId}/attachment":{"put":{"tags":["document"],"summary":"Creates a document's attachment","operationId":"setDocumentAttachment","parameters":[{"name":"documentId","in":"path","required":true,"schema":{"type":"string"}},{"name":"enckeys","in":"query","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/octet-stream":{"schema":{"type":"array","items":{"type":"string","format":"byte"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DocumentDto"}}}}}},"delete":{"tags":["document"],"summary":"Deletes a document's attachment","operationId":"deleteAttachment","parameters":[{"name":"documentId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DocumentDto"}}}}}}},"/rest/v1/document/batch":{"put":{"tags":["document"],"summary":"Updates a batch of documents","description":"Returns the modified documents.","operationId":"modifyDocuments","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DocumentDto"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DocumentDto"}}}}}}},"post":{"tags":["document"],"summary":"Gets a document","operationId":"getDocuments","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListOfIdsDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DocumentDto"}}}}}}}},"/rest/v1/document/attachment":{"put":{"tags":["document"],"summary":"Creates a document's attachment","operationId":"setSafeDocumentAttachment","parameters":[{"name":"documentId","in":"query","required":true,"schema":{"type":"string"}},{"name":"enckeys","in":"query","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/octet-stream":{"schema":{"type":"array","items":{"type":"string","format":"byte"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DocumentDto"}}}}}}},"/rest/v1/doctemplate/{documentTemplateId}":{"get":{"tags":["doctemplate"],"summary":"Gets a document template","operationId":"getDocumentTemplate","parameters":[{"name":"documentTemplateId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DocumentTemplateDto"}}}}}},"put":{"tags":["doctemplate"],"summary":"Modify a document template with the current user","description":"Returns an instance of created document template.","operationId":"updateDocumentTemplate","parameters":[{"name":"documentTemplateId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentTemplateDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DocumentTemplateDto"}}}}}}},"/rest/v1/doctemplate/{documentTemplateId}/attachmentJson":{"put":{"tags":["doctemplate"],"summary":"Creates a document's attachment","operationId":"setDocumentTemplateAttachmentJson","parameters":[{"name":"documentTemplateId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/octet-stream":{"schema":{"$ref":"#/components/schemas/ByteArrayDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DocumentTemplateDto"}}}}}}},"/rest/v1/doctemplate/{documentTemplateId}/attachment":{"put":{"tags":["doctemplate"],"summary":"Creates a document's attachment","operationId":"setDocumentTemplateAttachment","parameters":[{"name":"documentTemplateId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/octet-stream":{"schema":{"type":"array","items":{"type":"string","format":"byte"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DocumentTemplateDto"}}}}}}},"/rest/v1/contact":{"put":{"tags":["contact"],"summary":"Modify a contact","description":"Returns the modified contact.","operationId":"modifyContact","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContactDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ContactDto"}}}}}},"post":{"tags":["contact"],"summary":"Create a contact with the current user","description":"Returns an instance of created contact.","operationId":"createContact","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContactDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ContactDto"}}}}}}},"/rest/v1/contact/byHcPartySecretForeignKeys/close":{"put":{"tags":["contact"],"summary":"Close contacts for Healthcare Party and secret foreign keys.","description":"Keys must be delimited by coma","operationId":"closeForHCPartyPatientForeignKeys","parameters":[{"name":"hcPartyId","in":"query","required":true,"schema":{"type":"string"}},{"name":"secretFKeys","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ContactDto"}}}}}}}},"/rest/v1/contact/batch":{"put":{"tags":["contact"],"summary":"Modify a batch of contacts","description":"Returns the modified contacts.","operationId":"modifyContacts","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ContactDto"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ContactDto"}}}}}}},"post":{"tags":["contact"],"summary":"Create a batch of contacts","description":"Returns the modified contacts.","operationId":"createContacts","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ContactDto"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ContactDto"}}}}}}}},"/rest/v1/code":{"get":{"tags":["code"],"summary":"Finding codes by code, type and version with pagination.","description":"Returns a list of codes matched with given input.","operationId":"findPaginatedCodes","parameters":[{"name":"region","in":"query","required":false,"schema":{"type":"string"}},{"name":"type","in":"query","required":false,"schema":{"type":"string"}},{"name":"code","in":"query","required":false,"schema":{"type":"string"}},{"name":"version","in":"query","required":false,"schema":{"type":"string"}},{"name":"startKey","in":"query","description":"The start key for pagination","required":false,"schema":{"type":"string"}},{"name":"startDocumentId","in":"query","description":"A code document ID","required":false,"schema":{"type":"string"}},{"name":"limit","in":"query","description":"Number of rows","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaginatedListCodeDto"}}}}}},"put":{"tags":["code"],"summary":"Modify a code","description":"Modification of (type, code, version) is not allowed.","operationId":"modifyCode","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CodeDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CodeDto"}}}}}},"post":{"tags":["code"],"summary":"Create a Code","description":"Type, Code and Version are required.","operationId":"createCode","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CodeDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CodeDto"}}}}}}},"/rest/v1/classification":{"put":{"tags":["classification"],"summary":"Modify a classification Template","description":"Returns the modified classification Template.","operationId":"modifyClassification","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClassificationDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ClassificationDto"}}}}}},"post":{"tags":["classification"],"summary":"Create a classification with the current user","description":"Returns an instance of created classification Template.","operationId":"createClassification","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClassificationDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ClassificationDto"}}}}}}},"/rest/v1/classificationTemplate":{"get":{"tags":["classificationTemplate"],"summary":"List all classification templates with pagination","description":"Returns a list of classification templates.","operationId":"listClassificationTemplates","parameters":[{"name":"startKey","in":"query","description":"A label","required":false,"schema":{"type":"string"}},{"name":"startDocumentId","in":"query","description":"An classification template document ID","required":false,"schema":{"type":"string"}},{"name":"limit","in":"query","description":"Number of rows","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaginatedListClassificationTemplateDto"}}}}}},"put":{"tags":["classificationTemplate"],"summary":"Modify a classification Template","description":"Returns the modified classification Template.","operationId":"modifyClassificationTemplate","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClassificationTemplateDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ClassificationTemplateDto"}}}}}},"post":{"tags":["classificationTemplate"],"summary":"Create a classification Template with the current user","description":"Returns an instance of created classification Template.","operationId":"createClassificationTemplate","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClassificationTemplateDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ClassificationTemplateDto"}}}}}}},"/rest/v1/calendarItem":{"get":{"tags":["calendarItem"],"summary":"Gets all calendarItems","operationId":"getCalendarItems","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CalendarItemDto"}}}}}}},"put":{"tags":["calendarItem"],"summary":"Modifies an calendarItem","operationId":"modifyCalendarItem","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CalendarItemDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CalendarItemDto"}}}}}},"post":{"tags":["calendarItem"],"summary":"Creates a calendarItem","operationId":"createCalendarItem","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CalendarItemDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CalendarItemDto"}}}}}}},"/rest/v1/calendarItemType":{"get":{"tags":["calendarItemType"],"summary":"Gets all calendarItemTypes","operationId":"getCalendarItemTypes","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CalendarItemTypeDto"}}}}}}},"put":{"tags":["calendarItemType"],"summary":"Modifies an calendarItemType","operationId":"modifyCalendarItemType","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CalendarItemTypeDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CalendarItemTypeDto"}}}}}},"post":{"tags":["calendarItemType"],"summary":"Creates a calendarItemType","operationId":"createCalendarItemType","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CalendarItemTypeDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CalendarItemTypeDto"}}}}}}},"/rest/v1/be_mikrono/user/{userId}/register":{"put":{"tags":["bemikrono"],"summary":"Set credentials for provided user","operationId":"register","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MikronoCredentialsDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserDto"}}}}}}},"/rest/v1/be_mikrono/user/{userId}/credentials":{"put":{"tags":["bemikrono"],"summary":"Set credentials for provided user","operationId":"setUserCredentials","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MikronoCredentialsDto"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserDto"}}}}}}},"/rest/v1/article":{"get":{"tags":["article"],"summary":"Gets all articles","operationId":"getArticles","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ArticleDto"}}}}}}},"put":{"tags":["article"],"summary":"Modifies an article","operationId":"modifyArticle","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ArticleDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ArticleDto"}}}}}},"post":{"tags":["article"],"summary":"Creates a article","operationId":"createArticle","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ArticleDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ArticleDto"}}}}}}},"/rest/v1/agenda":{"get":{"tags":["agenda"],"summary":"Gets all agendas","operationId":"getAgendas","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AgendaDto"}}}}}}},"put":{"tags":["agenda"],"summary":"Modifies an agenda","operationId":"modifyAgenda","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AgendaDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AgendaDto"}}}}}},"post":{"tags":["agenda"],"summary":"Creates a agenda","operationId":"createAgenda","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AgendaDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AgendaDto"}}}}}}},"/rest/v1/accesslog":{"get":{"tags":["accesslog"],"summary":"Lists access logs","operationId":"listAccessLogs","parameters":[{"name":"fromEpoch","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"toEpoch","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"startKey","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"startDocumentId","in":"query","required":false,"schema":{"type":"string"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"descending","in":"query","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaginatedListAccessLogDto"}}}}}},"put":{"tags":["accesslog"],"summary":"Modifies an access log","operationId":"modifyAccessLog","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccessLogDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AccessLogDto"}}}}}},"post":{"tags":["accesslog"],"summary":"Creates an access log","operationId":"createAccessLog","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccessLogDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AccessLogDto"}}}}}}},"/rest/v1/user/forgottenPassword/{email}":{"post":{"tags":["user"],"summary":"Send a forgotten email message to an user","operationId":"forgottenPassword","parameters":[{"name":"email","in":"path","description":"the email of the user ","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmailTemplateDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"boolean"}}}}}}},"/rest/v1/tmp":{"post":{"tags":["tmp"],"summary":"Create tmp database for current user","description":"Nothing happens if the database already exists","operationId":"createTmpDatabase","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Unit"}}}}}},"delete":{"tags":["tmp"],"summary":"Destroy tmp database for current user","description":"Nothing happens if the database does not exists","operationId":"destroyTmpDatabase","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Unit"}}}}}}},"/rest/v1/tmp/replicate/from/{from}":{"post":{"tags":["tmp"],"operationId":"replicateToTmpDatabase","parameters":[{"name":"from","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ReplicatorDocument"}}}}}}},"/rest/v1/tmp/patient/get":{"post":{"tags":["tmp"],"summary":"Get patients by ids with the current user","description":"Returns an instance of created patient.","operationId":"getTmpPatients","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PatientDto"}}}}}}}},"/rest/v1/tmp/message/get":{"post":{"tags":["tmp"],"summary":"Get messages by ids with the current user","description":"Returns an instance of created message.","operationId":"getTmpMessages","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MessageDto"}}}}}}}},"/rest/v1/tmp/invoice/get":{"post":{"tags":["tmp"],"summary":"Get invoices by ids with the current user","description":"Returns an instance of created invoice.","operationId":"getTmpInvoices","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/InvoiceDto"}}}}}}}},"/rest/v1/tmp/healthElement/get":{"post":{"tags":["tmp"],"summary":"Get healthElements by ids with the current user","description":"Returns an instance of created healthElement.","operationId":"getTmpHealthElements","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/HealthElementDto"}}}}}}}},"/rest/v1/tmp/form/get":{"post":{"tags":["tmp"],"summary":"Get forms by ids with the current user","description":"Returns an instance of created form.","operationId":"getTmpForms","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/FormDto"}}}}}}}},"/rest/v1/tmp/entityTemplate/get":{"post":{"tags":["tmp"],"summary":"Get entityTemplates by ids with the current user","description":"Returns an instance of created entityTemplate.","operationId":"getTmpEntityTemplates","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/EntityTemplateDto"}}}}}}}},"/rest/v1/tmp/document/get":{"post":{"tags":["tmp"],"summary":"Get documents by ids with the current user","description":"Returns an instance of created document.","operationId":"getTmpDocuments","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DocumentDto"}}}}}}}},"/rest/v1/tmp/contact/get":{"post":{"tags":["tmp"],"summary":"Get contacts by ids with the current user","description":"Returns an instance of created contact.","operationId":"getTmpContacts","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ContactDto"}}}}}}}},"/rest/v1/tmp/classification/get":{"post":{"tags":["tmp"],"summary":"Get classifications by ids with the current user","description":"Returns an instance of created classification.","operationId":"getTmpClassifications","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ClassificationDto"}}}}}}}},"/rest/v1/tmp/batch/purge":{"post":{"tags":["tmp"],"summary":"Hard delete items.","description":"Response is a set containing the ID's of deleted items.","operationId":"purgeTmpItems","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DocIdentifier"}}}}}}}},"/rest/v1/tmp/batch/delete":{"post":{"tags":["tmp"],"summary":"Soft delete items.","description":"Response is a set containing the ID's of deleted items.","operationId":"deleteTmpItems","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DocIdentifier"}}}}}}}},"/rest/v1/timeTable/byPeriodAndAgendaId":{"post":{"tags":["timeTable"],"summary":"Get TimeTables by Period and AgendaId","operationId":"getTimeTablesByPeriodAndAgendaId","parameters":[{"name":"startDate","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"endDate","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"agendaId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TimeTableDto"}}}}}}}},"/rest/v1/timeTable/byAgendaId":{"post":{"tags":["timeTable"],"summary":"Get TimeTables by AgendaId","operationId":"getTimeTablesByAgendaId","parameters":[{"name":"agendaId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TimeTableDto"}}}}}}}},"/rest/v1/tarification/byIds":{"post":{"tags":["tarification"],"summary":"Get a list of tarifications by ids","description":"Keys must be delimited by coma","operationId":"getTarifications","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListOfIdsDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TarificationDto"}}}}}}}},"/rest/v1/patient/{patientId}/delegate":{"post":{"tags":["patient"],"summary":"Delegates a patients to a healthcare party","description":"It delegates a patient to a healthcare party (By current healthcare party). A modified patient with new delegation gets returned.","operationId":"newPatientDelegations","parameters":[{"name":"patientId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DelegationDto"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PatientDto"}}}}}}},"/rest/v1/patient/match":{"post":{"tags":["patient"],"summary":"Get ids of patients matching the provided filter for the current user (HcParty) ","operationId":"matchPatientsBy","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AbstractFilterDtoPatient"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"string"}}}}}}}},"/rest/v1/patient/filter":{"post":{"tags":["patient"],"summary":"Filter patients for the current user (HcParty) ","description":"Returns a list of patients along with next start keys and Document ID. If the nextStartKey is Null it means that this is the last page.","operationId":"filterPatientsBy","parameters":[{"name":"startKey","in":"query","description":"The start key for pagination, depends on the filters used","required":false,"schema":{"type":"string"}},{"name":"startDocumentId","in":"query","description":"A patient document ID","required":false,"schema":{"type":"string"}},{"name":"limit","in":"query","description":"Number of rows","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"skip","in":"query","description":"Skip rows","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"sort","in":"query","description":"Sort key","required":false,"schema":{"type":"string"}},{"name":"desc","in":"query","description":"Descending","required":false,"schema":{"type":"boolean"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilterChainPatient"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaginatedListPatientDto"}}}}}}},"/rest/v1/patient/byIds":{"post":{"tags":["patient"],"summary":"Get patients by id","description":"It gets patient administrative data.","operationId":"getPatients","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListOfIdsDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PatientDto"}}}}}}}},"/rest/v1/message/delete/byIds":{"post":{"tags":["message"],"summary":"Deletes multiple messages","operationId":"deleteMessagesBatch","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListOfIdsDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DocIdentifier"}}}}}}}},"/rest/v1/message/children/batch":{"post":{"tags":["message"],"summary":"Get children messages of provided message","operationId":"getChildrenMessagesOfList","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListOfIdsDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MessageDto"}}}}}}}},"/rest/v1/message/byTransportGuid/list":{"post":{"tags":["message"],"summary":"Get all messages for current HC Party and provided transportGuids","operationId":"listMessagesByTransportGuids","parameters":[{"name":"hcpId","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListOfIdsDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MessageDto"}}}}}}}},"/rest/v1/message/byInvoiceId":{"post":{"tags":["message"],"summary":"Get children messages of provided message","operationId":"listMessagesByInvoiceIds","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListOfIdsDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MessageDto"}}}}}}}},"/rest/v1/medex/generate":{"post":{"tags":["medex"],"summary":"Generate a Medex XML String","operationId":"generateMedex","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MedexInfoDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/xml":{"schema":{"type":"string"}}}}}}},"/rest/v1/invoice/validate/{invoiceId}":{"post":{"tags":["invoice"],"summary":"Gets all invoices for author at date","operationId":"validate","parameters":[{"name":"invoiceId","in":"path","required":true,"schema":{"type":"string"}},{"name":"scheme","in":"query","required":true,"schema":{"type":"string"}},{"name":"forcedValue","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InvoiceDto"}}}}}}},"/rest/v1/invoice/reassign":{"post":{"tags":["invoice"],"summary":"Modifies an invoice","operationId":"reassignInvoice","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvoiceDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InvoiceDto"}}}}}}},"/rest/v1/invoice/mergeTo/{invoiceId}":{"post":{"tags":["invoice"],"summary":"Gets all invoices for author at date","operationId":"mergeTo","parameters":[{"name":"invoiceId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListOfIdsDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InvoiceDto"}}}}}}},"/rest/v1/invoice/filter":{"post":{"tags":["invoice"],"summary":"Filter invoices for the current user (HcParty)","description":"Returns a list of invoices along with next start keys and Document ID. If the nextStartKey is Null it means that this is the last page.","operationId":"filterInvoicesBy","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilterChainInvoice"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/InvoiceDto"}}}}}}}},"/rest/v1/invoice/delegations":{"post":{"tags":["invoice"],"summary":"Update delegations in healthElements.","description":"Keys must be delimited by coma","operationId":"setInvoicesDelegations","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/IcureStubDto"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/IcureStubDto"}}}}}}}},"/rest/v1/invoice/byauthor/{userId}/service/{serviceId}":{"post":{"tags":["invoice"],"summary":"Gets all invoices for author at date","operationId":"removeCodes","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"string"}},{"name":"serviceId","in":"path","required":true,"schema":{"type":"string"}},{"name":"secretFKeys","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/InvoiceDto"}}}}}}}},"/rest/v1/invoice/byauthor/{userId}/append/{type}/{sentMediumType}":{"post":{"tags":["invoice"],"summary":"Gets all invoices for author at date","operationId":"appendCodes","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"string"}},{"name":"type","in":"path","required":true,"schema":{"type":"string"}},{"name":"sentMediumType","in":"path","required":true,"schema":{"type":"string"}},{"name":"secretFKeys","in":"query","required":true,"schema":{"type":"string"}},{"name":"insuranceId","in":"query","required":false,"schema":{"type":"string"}},{"name":"invoiceId","in":"query","required":false,"schema":{"type":"string"}},{"name":"gracePeriod","in":"query","required":false,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/InvoicingCodeDto"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/InvoiceDto"}}}}}}}},"/rest/v1/invoice/byIds":{"post":{"tags":["invoice"],"summary":"Gets an invoice","operationId":"getInvoices","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListOfIdsDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/InvoiceDto"}}}}}}}},"/rest/v1/invoice/byCtcts":{"post":{"tags":["invoice"],"summary":"Gets all invoices for author at date","operationId":"listByContactIds","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListOfIdsDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/InvoiceDto"}}}}}}}},"/rest/v1/invoice/allHcpsByStatus/{status}":{"post":{"tags":["invoice"],"summary":"Gets all invoices per status","operationId":"listAllHcpsByStatus","parameters":[{"name":"status","in":"path","required":true,"schema":{"type":"string"}},{"name":"from","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"to","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListOfIdsDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/InvoiceDto"}}}}}}}},"/rest/v1/insurance/byIds":{"post":{"tags":["insurance"],"summary":"Gets insurances by id","operationId":"getInsurances","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListOfIdsDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/InsuranceDto"}}}}}}}},"/rest/v1/icure/dd/{entityName}":{"post":{"tags":["icure"],"summary":"Force update design doc","operationId":"updateDesignDoc","parameters":[{"name":"entityName","in":"path","required":true,"schema":{"type":"string"}},{"name":"warmup","in":"query","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"boolean"}}}}}}},"/rest/v1/icure/conflicts/patient":{"post":{"tags":["icure"],"summary":"Resolve patients conflicts","operationId":"resolvePatientsConflicts","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PatientDto"}}}}}}}},"/rest/v1/icure/conflicts/message":{"post":{"tags":["icure"],"summary":"resolve messages conflicts","operationId":"resolveMessagesConflicts","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MessageDto"}}}}}}}},"/rest/v1/icure/conflicts/invoice":{"post":{"tags":["icure"],"summary":"resolve invoices conflicts","operationId":"resolveInvoicesConflicts","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/InvoiceDto"}}}}}}}},"/rest/v1/icure/conflicts/healthelement":{"post":{"tags":["icure"],"summary":"resolve healthcare elements conflicts","operationId":"resolveHealthElementsConflicts","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/HealthElementDto"}}}}}}}},"/rest/v1/icure/conflicts/form":{"post":{"tags":["icure"],"summary":"resolve forms conflicts","operationId":"resolveFormsConflicts","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/FormDto"}}}}}}}},"/rest/v1/icure/conflicts/document":{"post":{"tags":["icure"],"summary":"resolve documents conflicts","operationId":"resolveDocumentsConflicts","parameters":[{"name":"ids","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DocumentDto"}}}}}}}},"/rest/v1/icure/conflicts/contact":{"post":{"tags":["icure"],"summary":"Resolve contacts conflicts","operationId":"resolveContactsConflicts","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ContactDto"}}}}}}}},"/rest/v1/helement/{healthElementId}/delegate":{"post":{"tags":["helement"],"summary":"Delegates a healthcare element to a healthcare party","description":"It delegates a healthcare element to a healthcare party (By current healthcare party). Returns the element with new delegations.","operationId":"newHealthElementDelegations","parameters":[{"name":"healthElementId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DelegationDto"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HealthElementDto"}}}}}}},"/rest/v1/helement/filter":{"post":{"tags":["helement"],"summary":"Filter healthcare elements for the current user (HcParty)","description":"Returns a list of healthcare elements along with next start keys and Document ID. If the nextStartKey is Null it means that this is the last page.","operationId":"filterHealthElementsBy","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilterChainHealthElement"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/HealthElementDto"}}}}}}}},"/rest/v1/helement/delegations":{"post":{"tags":["helement"],"summary":"Update delegations in healthElements.","description":"Keys must be delimited by coma","operationId":"setHealthElementsDelegations","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/IcureStubDto"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/HealthElementDto"}}}}}}}},"/rest/v1/hcparty/inGroup/{groupId}/byIds":{"post":{"tags":["hcparty"],"summary":"Get healthcareParties by their IDs","description":"General information about the healthcare Party","operationId":"getHealthcarePartiesInGroup","parameters":[{"name":"groupId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListOfIdsDto"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/HealthcarePartyDto"}}}}}}}},"/rest/v1/group/{id}":{"get":{"tags":["group"],"summary":"Get a group by id","description":"Get a group by id","operationId":"getGroup","parameters":[{"name":"id","in":"path","description":"The id of the group","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GroupDto"}}}}}},"post":{"tags":["group"],"summary":"Create a group","description":"Create a new group and associated dbs. \nThe created group will be manageable by the users that belong to the same group as the one that called createGroup.\nSeveral tasks can be executed during the group creation like DB replications towards the created DBs, users creation and healthcare parties creation","operationId":"createGroup","parameters":[{"name":"id","in":"path","description":"The id of the group, also used for subsequent authentication against the db (can only contain digits, letters, - and _)","required":true,"schema":{"type":"string"}},{"name":"name","in":"query","description":"The name of the group","required":true,"schema":{"type":"string"}},{"name":"password","in":"header","description":"The password of the group (can only contain digits, letters, - and _)","required":true,"schema":{"type":"string"}},{"name":"server","in":"query","description":"The server on which the group dbs will be created","required":false,"schema":{"type":"string"}},{"name":"q","in":"query","description":"The number of shards for patient and healthdata dbs : 3-8 is a recommended range of value","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"n","in":"query","description":"The number of replications for dbs : 3 is a recommended value","required":false,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DatabaseInitialisationDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GroupDto"}}}}}}},"/rest/v1/group/{id}/reset/storage":{"post":{"tags":["group"],"summary":"Reset storage for group","description":"Reset storage","operationId":"resetStorage","parameters":[{"name":"id","in":"path","description":"The id of the group","required":true,"schema":{"type":"string"}},{"name":"q","in":"query","description":"The number of shards for patient and healthdata dbs : 3-8 is a recommended range of value","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"n","in":"query","description":"The number of replications for dbs : 3 is a recommended value","required":false,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListOfIdsDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Unit"}}}}}}},"/rest/v1/group/{id}/conflicts":{"post":{"tags":["group"],"summary":"Solve conflicts for group","description":"Solve conflicts for group","operationId":"solveConflicts","parameters":[{"name":"id","in":"path","description":"The id of the group","required":true,"schema":{"type":"string"}},{"name":"warmup","in":"query","description":"Warmup the design doc","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/IdWithRevDto"}}}}}}}},"/rest/v1/group/register/trial":{"post":{"tags":["group"],"summary":"Create a group","description":"Create a new group and associated dbs. \nThe created group will be manageable by the users that belong to the same group as the one that called createGroup.\nSeveral tasks can be executed during the group creation like DB replications towards the created DBs, users creation and healthcare parties creation","operationId":"registerNewGroupAdministrator","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegistrationInformationDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RegistrationSuccessDto"}}}}}}},"/rest/v1/form/template":{"get":{"tags":["form"],"summary":"Gets all form templates for current user","operationId":"findFormTemplates","parameters":[{"name":"loadLayout","in":"query","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/FormTemplateDto"}}}}}}},"post":{"tags":["form"],"summary":"Create a form template with the current user","description":"Returns an instance of created form template.","operationId":"createFormTemplate","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FormTemplateDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FormTemplateDto"}}}}}}},"/rest/v1/form/delegations":{"post":{"tags":["form"],"summary":"Update delegations in form.","description":"Keys must be delimited by coma","operationId":"setFormsDelegations","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/IcureStubDto"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/IcureStubDto"}}}}}}}},"/rest/v1/form/delegate/{formId}":{"post":{"tags":["form"],"summary":"Delegates a form to a healthcare party","description":"It delegates a form to a healthcare party. Returns the form with the new delegations.","operationId":"newFormDelegations","parameters":[{"name":"formId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DelegationDto"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FormDto"}}}}}}},"/rest/v1/form/byIds":{"post":{"tags":["form"],"summary":"Get a list of forms by ids","description":"Keys must be delimited by coma","operationId":"getForms","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListOfIdsDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/
[...]
